*.jl.cov
*.jl.*.cov
*.jl.mem
*.log
*.pdb
*.png
*.nexus
*.nwk
*.model
src/plots/*.svg
cache/
data/
obsolete/
models/*.log
output/
deps/deps.jl
*.zip
*.elf
*.ini
*.json
*.gml
*.txt
*.lgz
*.fas
*.fasta
*.samples